{% extends 'base.html.twig' %}

{% block title %}ImmoBadarou {% endblock %}

{% block body %}

	<div class="jumbotron text-center">
		<h1>Agence Lorem Ipsum ✅</h1>

		<p>
			Ullamco esse adipisicing Lorem proident eiusmod commodo excepteur dolore. Officia et ipsum labore eu occaecat minim in. <br>
			Sit pariatur cupidatat duis aliqua excepteur velit et occaecat non. Aute consectetur non laboris deserunt non sunt incididunt exercitation.
		</p>

	</div>

{% endblock %}
