{% extends 'base.html.twig' %}

{% block title %}Créer un bien {% endblock %}

{% block body %}

<div class="container mt-4">

                <h2>Créer une option</h2>

                 {{ include("admin_property/option/_form.html.twig", {button: 'Créer'}) }}

        </div>
{% endblock %}
